body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: aliceblue;   
}

.header--sec{
    color: white;
    font-weight: 300;
    font-size: 50px;
}

.header--sub-header{
    font-size: 21px;
    color: gray;

}

/* Link */

.link--cta{
    color: aquamarine;
    font-size: 16px; 
}